<!doctype html>
<html>
    <head>
      <title>Game</title>
    </head>
    <body>
        Let's play Madlibs!
        <form action="/madlib">
            <div>
                <label for="person">Name a person.</label>
                <input type="text" name="person" id="person">
            </div>
            <div>
                <label for="color">Name a color.</label>
                <input type="text" name="color" id="color">
            </div>
            <div>
                <label for="noun">Name a noun.</label>
                <input type="text" name="noun" id="noun">
            </div>
            <div>
                <label for="adjective">Name an adjective.</label>
                <input type="text" name="adjective" id="adjective">
            </div>
                <input type='submit'>
        </form>
    </body>
</html>